<div class="container">
    <app-task-header></app-task-header>
  <div class="row">
    
    <div class="col-md-5">  
      <app-task-form></app-task-form>
    </div>
    <div class="col-md-7">
      <app-task-list></app-task-list>
    </div>
  </div>
</div>