
<div class="right">
  <!-- {{tasks | json}} -->
  <h2>Existing Tasks</h2>
  <table class="table table-striped bordered">
    <tr *ngFor="let task of tasks">
        <td>{{task.name}}</td>
        <td>{{task.date}}</td>
        <td>{{task.assigned}}</td>

    </tr>
  </table>
</div>

