.bordered{
    border: 3px solid lightgray;
}
.right{
    padding: 25px 30px 40px 25px;
    background-color: white;
}
.btn-primary{
    color: #fff;
    background-color: black;
    /* border-color: #007bff; */
    font-size: 20px;
}