<div class="left">
  <h2>Create a Task</h2>
  <div class="left">
      <form #taskForm="ngForm" (ngSubmit)="submit(taskForm)"> 
          <div class="form-group">
            <label for="taskName"><strong>Task Name</strong></label>
            <input name="taskName" type="text" required [(ngModel)]="newTask.name" class="form-control" placeholder="Enter Task Name">
          </div>
          <div class="form-group">
            <label for="date"><strong>Date</strong></label>
            <input type="date" class="form-control" required [(ngModel)]="newTask.date" name="date" placeholder="Date">
          </div>
          <div class="form-group">
              <label for="assignedTo"><strong>Assigned To</strong></label>
              <input type="text" class="form-control" required [(ngModel)]="newTask.assigned" name="assignedTo" placeholder="Assigned To">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>


