/* You can add global styles to this file, and also import other style files */
.btn-primary {
    color: #fff;
    background-color:black;
    border-color: black;
    font-size: 20px;
}
.table{
    margin-top: 25px;
}